@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap');

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**Header Style**/
.top-site > nav {
    background-color: #433953;
    -webkit-box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63); 
    box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63);
    z-index: 1;
}

.navbar-brand {
    margin-left: 40px;
}

.social-btn {
    margin-right: 50px;
}

.social-btn button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #433953;
    cursor: pointer;
    margin: auto 10px;
}

.social-btn button:hover {
    background-color: #f97f5e;
    color: white;
}

/**Main Styles**/
    /**Tabbu Banner**/
    .tabbu-banner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

    .tabbu-banner .jumbotron {
        clip-path: ellipse(62% 67% at 50% 30%);
        margin-right: 70px;
        text-align: center;
        background-color: #433953;
        color: white;
    }
    
    .tabbu-banner .jumbotron h2 {
        font-weight: 800;
        margin-top: 20px;
        font-size: 30px;
    }

    .steam-btn {
        margin: 65px auto 20px auto;
        width: 270px;
        background-color: #ea5253;
        border-radius: 70px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37); 
        box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37);
    }

    .steam-btn .fa-steam {
        margin-left: 15px;
        font-size: 70px;
    }

    .steam-btn-text {
        text-align: center;
    }

    .steam-btn-text h5 {
        margin: 20px auto;
        font-size: 22px;
        font-weight: 700;
    }

    .steam-btn:hover {
        background-color: white;
        color: #433953;
    }
    
    /**About Section**/
    .about-section {
        margin-top: 85px;
        background-image: url(../img/game_scenario.jpg);
        background-repeat: no-repeat;
        background-size: 40% 100%;
        background-position: left;
    }

    .about-box {
        width: 50%;
        padding: 40px;
        text-align: left;
        background-color: white;
        border-radius: 15px;
    }

    .about-title {
        color: #433953;
        padding-bottom: 20px;
    }

    .about-title h2 {
        font-weight: 800;
        font-size: 60px;
        padding-bottom: 20px;
    }

    .about-title h3 {
        font-weight: 700;
        font-size: 25px;
    }

/**Features Section**/
.features-section {
    padding: 10% 3%;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.first-row{
    margin-bottom: 7%;
}

.features-item {
    width: 100%;
}

.features-icon  {
    -webkit-box-shadow: 1px 2px 22px 1px rgba(108,39,86,0.5); 
    box-shadow: 1px 2px 22px 1px rgba(108,39,86,0.5);
    padding: 30px;
    margin-bottom: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: solid white 10px;
    background: #746069;
}

.features-text {
    color: #21101E;
    width: 70%;
}

/**Girls Section**/
.girls-section {
    padding-left: 5%;
}

.girls-section h2 {
    text-transform: uppercase;
}

.girl-wrapper {
    margin-bottom: 50px;
    width: 95%;
}

.girl-card {
    margin-left: 20px;
}

.girl-card h3{
    font-family: montserrat-bold-lg;
    font-size: 23px;
}

.girl-card h4 {
    font-size: 19px;
}

.girl-card p {
    font-size: 17px;
}

.girl-avatar {
    width: 130px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.46); 
    box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.46);
}

/**Jumbotron Section**/
.check-jumbotron h2{
    font-size: 40px;
}

.check-jumbotron button {
    font-weight: bold;
    font-size: 25px;
    width: 30%;
    padding: 10px;
    margin: 20px;
    border: none;
}

.itch-btn-2 {
    background-color: #692244;
}

.steam-btn-2 {
    background-color: #21101E;
}

.steam-btn-2:hover, .itch-btn:hover {
    background-color: #543856;
}

/**Team Section**/

.team-description {
    font-size: 20px; 
    padding: 90px 0 50px 90px; 
    width: 60%;
}

.text-important {
    font-family: montserrat-bold-lg;
}

.team-card {
    padding-top: 40px;
}

.team-icon img {
    width: 40%;
    border-radius: 20px;
}

.team-text {
    padding: 20px;
    text-align: center;
}

.members-section h3 {
    font-family: montserrat-medium;
    font-size: 40px;
    text-transform: uppercase;
    margin: 50px auto;
    padding: 40px 100px;
}

.team-text h4 {
    font-family: montserrat-medium;
    font-size: 20px;
}

.team-text h5 {
    font-size: 18px;
}

.notes {
    font-size: 15px;
    color: gray;
    text-align: center;
    padding: 100px 60px;
}


/**Smartphone**/
@media (min-width: 320px) and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    .top-site > nav {
        text-align: center;
        justify-content: center;
    }

    .social-btn {
        margin: 0;
        margin-bottom: 10px;
    }

    .tabbu-banner .jumbotron {
        margin: 0px;
        margin-top: 37vh;
    }

    .about-section {
        background-position: top;
        background-size: 130% auto;
        background-color: #543856;
    }

    .about-box {
        width: 100%;
        padding: 40px 10px;
        margin-top: 70vh;
    }

    .features-item {
        margin-bottom: 15%;
    }

    .features-section h2{
        margin: 60px auto;
    }
    .check-jumbotron h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .check-jumbotron button {
        display: block;
        width: 100%;
        margin: 15px 2px;
    }
    .team-description { 
        padding: 20px; 
        width: 100%;
    }

    .notes {
        padding: 90px 10px;
    }

   
}


/**Tablet**/
@media (min-width:700px) and (max-width:1024px) {
    .tabbu-banner .jumbotron {
        margin-right: 20px;
    }

    .about-section {
        background-size: 100% 100%;
    }

    .about-box {
        width: 90%;
        margin-right: 5%;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.555);
    }

    .girl-card {
        margin-left: 40px;
    }
} 


/**Tablet and Smartphone**/
@media (min-width:320px) and (max-width:1024px) {
    .tabbu-banner {
        background-position: left;
        background-size: auto 100%;
        height: 50vh;
    }

    .tabbu-banner .jumbotron h2 {
        font-size: 25px;
    }

    .steam-btn {
        width: 100%;
        margin: 50px auto;
    }

    .steam-btn .fa-steam {
        font-size: 60px;
    }

    .steam-btn-text h5 {
        margin: 20px auto;
        font-size: 20px;
    }
    
    .about-section {
        margin-top: 0;
        padding: 70px 30px;
    }

    .about-box {
        text-align: center;
        border: solid 1px #6c275673;
    }

    .about-box h2 {
        font-size: 40px;
    }

    .about-title h3 {
        font-size: 19px;
    }

    .girls-section h2 {
        text-align: center;
        font-size: 30px;
    }

    .girl-card {
        margin-top: 40px;
    }

    .girl-avatar {
        margin-top: 20px;
    }

    .team-section h2 {
        font-size: 35px;
        padding-bottom: 20px;
    }

    .team-section h3 {
        padding: 0;
        text-align: center;
    }

}

/**Widescreen**/
@media (min-width:1400px) {
    .tabbu-banner {
        height: 50vh;
    }

}