@font-face {
    font-family: poet;
    src: url(../fonts/Poet/PoetsenOne-Regular.ttf);
}

.list-group, .list-group-item {
    border: none;
}

/**Navbar Icons*/
.navbar {
    background-color: transparent;
}

#panel button {
    background-color: transparent;
    border: transparent;
    padding: 30px;
}

#panel button:hover, .box:hover {
    background-color: rgba(238, 130, 238, 0.466);
}
.fa-facebook-f {
    color: blue;
}

.fa-patreon {
    color: crimson;
}

.fa-instagram {
    color: rgb(141, 89, 138);
}

.fa-tumblr {
    color: rgb(44, 42, 66);
}

.fa-twitter, .dropdown-toggle {
    color: rgb(62, 178, 255);
}

.dropdown-toggle:hover {
    color: black;
}

/**Banner Section**/
header {
    height: 100vh;
    background-image: url(https://pbs.twimg.com/media/CHnGQYbUEAAU9jf.jpg);
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-btn {
    background-color: transparent;
    margin-top: 40vh;
    font-family: poet;
}

h1 {
    color: rgb(99, 53, 96);
    font-size: 80px;
    letter-spacing: 5px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.459);
}

.banner-btn button {
    padding: 5px;
    font-size: 30px;
    width: 50%;
    margin-top: 10%;
    border: transparent;
    color: white;
}

.itch-btn {
    background-color: black;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.steam-btn {
    background-color: red;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

.logo {
    width: 80%;
}

/**About Section**/
#about {
    padding: 12% 20% 0 20%;
    
}

#about h2 {
    font-family: love;
    font-size: 90px;
    line-height: 40pt;
    margin-bottom: 8%;
}

#about .display {
    padding: 3%;
}

#about .jumbotron, #features .jumbotron {
    background-color: transparent;
    margin: 0;
}

/**Girl Section**/
.girls-description h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 70px;
}

.girl-content {
    padding: 50px;
}

.girl-img-box-right {

    background: url(https://i.pinimg.com/originals/16/75/f4/1675f4e3dd306c2f5fb757dbab7f56fa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.girl-img-box-left {
    background: url(https://wallpapercave.com/wp/wp3717252.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/**Game Features Section**/
#game-features * {
    background-color: transparent;
}

#game-features .lead {
    padding: 20px;
}

#list-example {
    margin-left: 20%;
    margin-top: 5%;
    background-color: white;
    text-align: left;
    width: 65%;
}

.features-description {
  padding: 40px;
} 

.feature-img img {
    float: left;
    width: 30px;
}

.list-features-item{
    height: 70px;
    padding: 20px;
}

/**Story Section**/
#story {
   background: url(https://images7.alphacoders.com/985/thumb-1920-985759.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.story-bg {
    width: 40%;
    padding: 60px;
    text-align: justify;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .story-bg {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);  
      }
}

.story-content h2 {
    padding-bottom: 60px;
}

/**Check Game Section**/
#check-game .jumbotron {
    background-color: transparent;
}
#check-game .jumbotron .container {
    padding-top: 10%;
}

#check-game {
    background-color: rgb(252, 169, 183);
    clip-path: polygon(0 41%, 100% 18%, 100% 100%, 0% 100%);


}

/**Team Section**/
#team .jumbotron {
    background-color: transparent;
}

.wrapper .mycard {
    background: rgb(245, 245, 245);
    width: 430px;
    height: 80px;
    border-radius: 100px 20px 20px 100px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    margin: 8% auto;
}

.wrapper .mycard .img {
    height: 100px;
    width: 100px;
    position: absolute;
    left: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mycard .content {
    display: flex;
    align-items: center;
}


.mycard .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mycard .details {
    margin-left: 90px;
}

.details span {
    font-weight: 600;
    font-size: 18px;
}

/**Notes Section**/

.notes {
    font-size: 15px;
    color: gray;
    text-align: center;
    padding: 60px;
}
@media (min-width:320px) and (max-width: 800px) {
    #team .row {
        margin: 0;
    }
    .wrapper {
        margin: 40px auto;
    }
    .girl-img-box-left, .girl-img-box-right {
        clip-path: none;
        height: 30vh;
    }

    
}

@media (min-width:320px) and (max-width:1024px) {

    .banner-btn button {
        width: 100%;
    }
    
    h1 {
        font-size: 60px;
    }

    .box-description {
        font-size: 20px;
    } 

    #panel button {
        padding: 20px;
    }

    .banner-group {
        height: 70vh;
    }
}

