@font-face {
    font-family: montserrat-bold-lg;
    src: url(../fonts/Montserrat/extrabold.TTF);
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**Header Styles**/

    /**Navbar**/
    .top-site > nav {
        background-color: #433953;
        -webkit-box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63); 
        box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63);
        z-index: 1;
    }

    .navbar-brand {
        margin-left: 40px;
    }

    .social-btn {
        margin-right: 30px;
    }

    .social-btn button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 15px;
        color: #433953;
        cursor: pointer;
        margin: auto 10px;
    }

    .social-btn button:hover {
        background-color: #f97f5e;
        color: white;
    }

/**Main Styles**/
    /**Tabbu Banner**/
    .tabbu-banner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }

    .tabbu-banner .jumbotron {
        clip-path: ellipse(62% 67% at 50% 30%);
        margin-right: 70px;
        font-family: montserrat-bold-lg;
        text-align: center;
        background-color: #433953;
        color: white;
    }

    .tabbu-banner .jumbotron h2 {
        margin-top: 20px;
        font-size: 30px;
    }

    .steam-btn {
        margin: 65px auto 20px auto;
        width: 270px;
        background-color: #ea5253;
        border-radius: 70px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37); 
        box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37);
    }

    .steam-btn .fa-steam {
        margin-left: 15px;
        font-size: 70px;
    }

    .steam-btn-text {
        text-align: center;
    }

    .steam-btn-text h5 {
        margin: 20px auto;
        font-size: 22px;
    }

    .steam-btn:hover {
        background-color: white;
        color: #433953;
    }

@media (min-width: 320px) and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .top-site > nav {
        text-align: center;
        justify-content: center;
    }

    .social-btn {
        margin: 0;
        margin-bottom: 10px;
    }

    .tabbu-banner .jumbotron {
        margin: 0px;
        margin-top: 60vh;
    }

}

@media (min-width:700px) and (max-width:1024px) {
    .tabbu-banner {
        height: 50vh;
    }
}

@media (min-width:320px) and (max-width:1024px) {
    .tabbu-banner {
        background-position: left;
        background-size: auto 100%;
    }

    .tabbu-banner .jumbotron h2 {
        font-size: 20px;
    }

    .steam-btn {
        width: 100%;
        margin: 50px auto;
    }

    .steam-btn .fa-steam {
        font-size: 60px;
    }

    .steam-btn-text h5 {
        margin: 20px auto;
        font-size: 20px;
    }
}
