@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #433953;
}

h3 {
    font-size: 2.5rem;
}

/**Header Style**/
    /**NavBar**/
    .top-site > nav {
        background-color: #433953;
        -webkit-box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63); 
        box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63);
        z-index: 1;
    }

    .navbar-brand {
        margin-left: 2rem;
    }

    .social-btn {
        margin-right: 2.5rem;
    }

    .social-btn button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: 0.76rem;
        color: #433953;
        cursor: pointer;
        margin: auto 0.5rem;
    }

    .social-btn button:hover {
        background-color: #f97f5e;
        color: white;
    }

/**Main Styles**/
    /**Tabbu Banner**/
    .tabbu-banner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 82vh;
    }

    .tabbu-banner .jumbotron {
        clip-path: ellipse(62% 67% at 50% 30%);
        margin-right: 3.5rem;
        text-align: center;
        background-color: #433953;
        color: white;
    }
    
    .tabbu-banner .jumbotron h2 {
        padding-top: 1rem;
        font-size: 1.5rem;
        padding-bottom: 0;
        color: white;
    }

    .steam-btn {
        margin: 3rem auto 1.5rem auto;
        width: 13.5rem;
        background-color: #ea5253;
        border-radius: 70px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37); 
        box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37);
    }

    .steam-btn .fa-steam {
        margin-left: 15px;
        font-size: 3.5rem;
    }

    .steam-btn-text {
        text-align: center;
    }

    .steam-btn-text h5 {
        margin: 1rem auto;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .steam-btn:hover {
        background-color: white;
        color: #433953;
    }
    
    /**About Section**/
    .about-section {
        margin-top: 85px;
        background-image: url(../img/game_scenario.jpg);
        background-repeat: no-repeat;
        background-size: 40% 100%;
        background-position: left;
    }

    .about-box {
        padding: 40px;
        text-align: left;
        background-color: white;
        border-radius: 15px;
    }

    .about-title {
        padding-bottom: 20px;
    }

    .about-title h3 {
        font-weight: 700;
        font-size: 1.25rem;
    }

    /**Features Section**/
    .features-section {
        padding: 5% 8%;
        text-align: center;
    }

    .features-section h2 {
        padding-bottom: 6rem;
    }

    .feature-box {
        height: 50%;
        width: 100%;
    }

    .feature-icon  {
        margin-bottom: 1.5rem;
        width: auto;
        height: 8.5rem;
    }

    .feature-text {
        padding-bottom: 5rem;
    }

/**Girls Section**/
.girls-section {
    text-align: center;
    margin-bottom: 5%;
}

.girl-box {
    margin: 2rem;
}

.girl-box h3, .girl-box h4 {
    font-family: 'Lobster', cursive;
}

.girl-icon {
    width: 70%;
    border-radius: 20px;
    margin-bottom: 2.5rem;
    -webkit-box-shadow: 2px 4px 21px -8px rgba(0, 0, 0, 0.507); 
    box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.46);
}

.girls-section figcaption p {
    margin-top: 1rem;
}



/**Jumbotron Section**/
.check-jumbotron h2{
    font-size: 40px;
}

.check-jumbotron button {
    font-weight: bold;
    font-size: 25px;
    width: 30%;
    padding: 10px;
    margin: 20px;
    border: none;
}

.itch-btn-2 {
    background-color: #692244;
}

.steam-btn-2 {
    background-color: #21101E;
}

.steam-btn-2:hover, .itch-btn:hover {
    background-color: #543856;
}

/**Team Section**/

.team-description {
    font-size: 20px; 
    padding: 90px 0 50px 90px; 
    width: 60%;
}

.text-important {
    font-family: montserrat-bold-lg;
}

.team-card {
    padding-top: 40px;
}

.team-icon img {
    width: 40%;
    border-radius: 20px;
}

.team-text {
    padding: 20px;
    text-align: center;
}

.members-section h3 {
    font-family: montserrat-medium;
    font-size: 40px;
    text-transform: uppercase;
    margin: 50px auto;
    padding: 40px 100px;
}

.team-text h4 {
    font-family: montserrat-medium;
    font-size: 20px;
}

.team-text h5 {
    font-size: 18px;
}

.notes {
    font-size: 15px;
    color: gray;
    text-align: center;
    padding: 100px 60px;
}


/**Smartphone**/
@media  (max-width: 574px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    .top-site > nav {
        text-align: center;
        justify-content: center;
    }

    .social-btn, .navbar-brand {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .tabbu-banner .jumbotron {
        margin: 0px;
        margin-top: 40vh;
    }

    .about-section {
        background-position: top;
        background-size: 25rem auto;
        background-color: #543856;
    }

    .about-section h2 {
        font-size: 2rem;
    }

    .about-box {
        margin-top: 25rem;
    }

    .check-jumbotron h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .check-jumbotron button {
        display: block;
        width: 100%;
        margin: 15px 2px;
    }
    .team-description { 
        padding: 20px; 
        width: 100%;
    }

    .notes {
        padding: 90px 10px;
    }
  
}

/**Tablet**/
@media (min-width:574px) and (max-width:1024px) {
    .tabbu-banner .jumbotron {
        margin-right: 1rem;
    }

    .about-section {
        background-size: 100% 100%;
        justify-content: center;
    }

    .about-box {
        width: 80%;
        -webkit-backdrop-filter: brightness(60%);
        backdrop-filter:brightness(60%);
        background-color: rgba(255, 255, 255, 0.555);
    }

    .feature-icon {
        height: 5rem;
    }

} 


/**Tablet and Smartphone**/
@media (min-width:320px) and (max-width:1024px) {    
    .tabbu-banner {
        background-position: left;
        height: 50vh;
    }

    .tabbu-banner .jumbotron h2 {
        font-size: 25px;
    }
    
    .about-section {
        margin-top: 0;
        padding: 70px 30px;
    }

    .about-box {
        text-align: center;
        border: solid 1px #6c275673;
    }

    .about-title h3 {
        font-size: 1rem;
    }

    .girls-section h2 {
        font-size: 2.5rem;
    }

    .team-section h2 {
        font-size: 35px;
        padding-bottom: 20px;
    }

    .team-section h3 {
        padding: 0;
        text-align: center;
    }

}

/**Widescreen**/
@media (min-width:1400px) {
    .tabbu-banner .jumbotron h2 {
        font-size: 2.3rem;
    }
}
