@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #433953;
    /* text-transform: uppercase; */
}

h3 {
    font-size: 2.5rem;
}

/**Header Style**/
    /**NavBar**/
    .top-site > nav {
        background-color: #433953;
        -webkit-box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63); 
        box-shadow: 0px 15px 23px -6px rgba(0,0,0,0.63);
        z-index: 1;
    }

    .navbar-brand {
        margin-left: 2rem;
    }

    .navbar-brand img {
        width: 20rem;
        max-width: 100%
    }

    .social-btn {
        margin-right: 2.5rem;
    }

    .social-btn button {
        background-color: white;
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        font-size: 0.9rem;
        color: #433953;
        cursor: pointer;
        margin: auto 0.5rem;
    }

    .social-btn button:hover {
        background-color: #f97f5e;
        color: white;
    }

/**Main Styles**/
    /**Tabbu Banner**/
    .tabbu-banner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
    }

    .tabbu-banner .jumbotron {
        border-radius: 0 0 50% 50%;
        height: fit-content;
        margin-right: 3%;
        text-align: center;
        background-color: #433953;
        color: white;
    }
    
    .tabbu-banner .jumbotron h4 {
        padding-top: 15%;
        font-size: 1.5rem;
        padding-bottom: 0;
        color: white;
    }

    .steam-btn {
        margin: 2rem auto 1.5rem auto;
        width: 13.5rem;
        background-color: #ea5253;
        border-radius: 70px;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37); 
        box-shadow: 2px 2px 14px 4px rgba(0,0,0,0.37);
    }

    .steam-btn .fa-steam {
        margin-left: 15px;
        font-size: 3.5rem;
    }

    .steam-btn-text {
        text-align: center;
    }

    .steam-btn-text h5 {
        margin: 1rem auto;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .steam-btn:hover {
        background-color: white;
        color: #433953;
    }
    
    /**About Section**/
    .about-section {
        margin-top: 85px;
        background-image: url(../img/game_scenario.jpg);
        background-repeat: no-repeat;
        background-size: 40% 100%;
        background-position: left;
    }

    .about-box {
        padding: 2rem 1rem;
        text-align: left;
        background-color: white;
        border-radius: 15px;
    }

    .about-title {
        padding-bottom: 1rem;
    }

    .about-title h3 {
        font-weight: 700;
        font-size: 1.25rem;
    }

    /**Features Section**/
    .features-section {
        padding: 5% 8%;
        text-align: center;
    }

    .features-section h2 {
        padding-bottom: 6rem;
    }

    .feature-box {
        height: 50%;
        width: 100%;
    }

    .feature-icon  {
        margin-bottom: 1.5rem;
        width: auto;
        height: 8.5rem;
    }

    .feature-text {
        padding-bottom: 5rem;
    }

    /**Girls Section**/
    .girls-section {
        text-align: center;
        margin: 5% auto;
    }

    .girl-box, .team-box {
        margin: 3rem 1rem;
    }

    .girl-box h3, .girl-box h4,
    .team-box h3 {
        font-family: 'Lobster', cursive;
        font-weight: normal;
    }

    .girl-icon {
        border-radius: 1rem;
    }

    .girl-icon, .team-avatar {
        width: 11rem;
        margin-bottom: 2.5rem;
        -webkit-box-shadow: 2px 4px 21px -8px rgba(0, 0, 0, 0.507); 
        box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.46);
    }


/**Jumbotron Section**/
    .check-jumbotron {
        background-color: #f97f5e;
    }
    .check-jumbotron h2{
        color: white;
    }

    .check-jumbotron button {
        background-color: black;
        font-weight: bold;
        border: none;
        border-radius: 1rem;
        width: 18rem;
        max-width: 100%;
        margin: 1rem;
    }
    
    .check-icon-btn {
        padding: 0.5rem;
        font-size: 3rem;
    }

    .check-btn-text {
        padding: 1rem;
        padding-bottom: 0;
        font-size: 1rem; 
    }

    .check-btn-text span {
        font-size: 1.5rem;
    }

    /**Team Section**/
    .team-description {
        margin: 5rem auto;
        width: 50%;
    }

    .text-important {
        font-weight: 700;
    }

    .team-box h3{
        font-size: 1.8rem;
    }

    .team-box h4 {
        font-weight: normal;
        font-size: 1rem;
    }

    .team-avatar {
        border-radius: 50%;
    }

    /**Become Patreon**/
    .become-patreon {
        text-align: center;
        background-color: transparent;
    }

    .patreon-btn {
        background-color: #FF424D;
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 1.5rem 2rem;
        border-radius: 70px;
        border: none;
    }

    .patreon-btn:hover {
        background-color: #433953;
    }

    /**Footer**/
    .bottom-site {
        font-size: 15px;
        color: white;
        text-align: center;
        background-color: #433953;
        padding: 3%;
    }

/**Smartphone**/
@media  (max-width: 574px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    .social-btn button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }

    .tabbu-banner .jumbotron {
        margin: 0px;
        margin-top: 40vh;
    }

    .about-section {
        background-position: top;
        background-size: 25rem auto;
        background-color: #543856;
    }

    .about-section h2 {
        font-size: 2rem;
    }

    .about-box {
        margin-top: 25rem;
    }

    .check-jumbotron h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }


    .check-jumbotron button {
        margin: 0;
        margin-bottom: 1rem;
    }

    .patreon-btn {
        font-size: 1rem;
        padding: 1rem;
    }
  
}

/**Tablet**/
@media (min-width:574px) and (max-width:1024px) {
    .about-section {
        background-size: 100% 100%;
        justify-content: center;
    }

    .about-box {
        width: 80%;
        -webkit-backdrop-filter: brightness(60%);
        backdrop-filter:brightness(60%);
        background-color: rgba(255, 255, 255, 0.555);
    }

    .feature-icon {
        height: 5rem;
    }

} 


/**Tablet and Smartphone**/
@media (min-width:320px) and (max-width:1024px) {    
    .top-site > nav {
        text-align: center;
        justify-content: center;
    }

    .social-btn, .navbar-brand {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .tabbu-banner {
        background-position: left;
        height: 50vh;
    }

    .tabbu-banner .jumbotron h4 {
        font-size: 1.2rem;
    }
    
    .about-section {
        margin-top: 0;
        padding: 3.5rem 1.5rem;
    }

    .about-box {
        text-align: center;
        border: solid 1px #6c275673;
    }

    .about-title h3 {
        font-size: 1rem;
    }

    .girls-section h2, .become-patreon h2  {
        font-size: 2.5rem;
    }

    .team-description {
        width: 100%;
        padding: 1rem;
    }

}

/**Widescreen**/
@media (min-width:1400px) {
    .tabbu-banner .jumbotron h4 {
        font-size: 2.3rem;
    }
}
